    $screen-xs-max: 768px;
    $blue_header: rgb(29, 28, 116);
    $charcol_bg: rgb(66, 66, 68);
    $grey_footer: rgb(229, 229, 229);
    $white_brand: rgb(213, 213, 213);
    $spacing_main: 15em;

    h1 {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        font-size: 40px;
        font-weight: 500;
        color: $blue_header;
        text-transform: uppercase;
        padding-bottom: 1em;
    }
    
    h3 {
        font-family: 'Roboto Slab', serif;
        color: $blue_header;
        font-size: 18px;
        font-weight: 700;
    }

    h4 {
        line-height: 1.5em;
        font-size: 1.3em;
    }


    p{
        font-family: 'Roboto', sans-serif;
        color: $blue_header;
        font-size: 15px;
        line-height: 1.5em;
        font-weight: 400 !important;
    
    }
    
    canvas {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }
    
    body {
        font: 400 15px 'Roboto', sans-serif;
        color: $blue_header;
        padding-top: $spacing_main;
        @media (max-width: $screen-xs-max) {
            padding-top: 60px;
        }
        min-height: 100vh;
    }

a:visited{
//    color: white;
}
    
    //landing page body layout is different from rest of site
    #myHome {
        width: 100vw;
        height: 100vh;
        border-style: solid;
        border-width: 0.8em;
        border-color: $blue_header;
        .btn {
            font-size: 17px;
            margin-top: 2em;
        }
        h1 {
            margin-top: 1em;
        }
    }
    
    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }
    
    .btn {
        color: $white_brand;
        border-radius: 0;
        display: block;
        margin: 10px 0;
        padding-right: 0;
        text-transform: uppercase;
        :hover {
            color: white;
        }
        span {
            background-color: $blue_header;
            padding: 0.6em;
        }
    }
    
    .nav-tabs li a {
        color: #777;
    }
    
    .navbar {
        font-family: Montserrat, sans-serif;
        margin-bottom: 0;
        background-color: $blue_header;
        border: 0;
        font-size: 11px !important;
        letter-spacing: 4px;
        opacity: 1;
    }
    
    .navbar li a,
    .navbar .navbar-brand {
        color: $white_brand !important;
    }
    
    .navbar li a,
    .navbar .navbar-brand:hover {
        color: white !important;
    }
    
    .navbar-nav li a {
        color: $white_brand !important;
    }
    
    .navbar-nav li a:hover {
        color: #fff !important;
    }
    
    .navbar-nav li.active a {
        color: #fff !important;
        background-color: #29292c !important;
    }
    
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    
    //about section blue bg
    .bg-1 {
        background: $blue_header;
        color: white;
        h1 {
            color: #fff;
        }
    }
    
    //about section white bg
    .bg-2 {
        padding-left: 5em;
        @media (max-width: $screen-xs-max) {
            padding-left: 15px;
        }
    }
    
    .bg-2-right {
        padding-right: 5em;
        @media (max-width: $screen-xs-max) {
            padding-right: 15px;
        }
    }
    
    //student section blue bg
    .bg-3 {
        background: $blue_header;
        color: white;
        h1 {
            color: #fff;
            padding-bottom: 0.5em;
        }
        padding: 6em 0;
        p {
            padding-bottom: 1em;
        }
    }
    
    //student section question styling
    .thumbnail {
        padding: 30px 50px;
        border: none;
        border-radius: 0;
    }
    
    .thumbnail p {
        margin-top: 15px;
        color: $blue_header;
    }
    
    .eqWrap {
        display: flex;
    }
    
    //landing page title section
    #title {
        margin-top: 10vh;
        div {
            padding: 5px;
        }
        img {
            padding-top: 2em;
            margin: 0 auto;
            display: block;
            width: 300px;
        }
        i {
            font-size: 5px;
            position: relative;
            bottom: 4px;
            padding: 0 3px 0 6px;
        }
    }
    
    #about {
        img {
            width: 600px;
            margin: auto;
            text-align: center;
            padding: 8em;
            opacity: 0.85;
        }
        >div {
            margin-bottom: $spacing_main;
        }

    }
    
    #students {
        >div {
            margin-bottom: $spacing_main;
        }
    }
    
    #contact {
        >div {
            margin-bottom: $spacing_main;
        }
        #signup a{
            color: $blue_header;
            text-decoration: underline;
        }
    }
    
    footer {
        position: relative;
        bottom: 0;
        p {
            margin: 0;
            font-size: 15px;
            font-weight: 900;
            color: black;
            font-weight: 900 !important;
        }
        background-color: $grey_footer;
        color: black;
        padding: 5em 0;
        i {
            padding-right: 3px;
        }
        .btn {
            text-align: right;
            span {
                background-color: black;
                padding: 8px;
            font-weight: 900 !important;
            }
            
        }
        .col-sm-6 {
            padding: 0;
        }
        #contacts {
            div {
                padding: 1em 0;
            }
            i {
                padding: 5px;
            }
        }
        #copyright {
            padding-top: 4em;
        }
        @media (max-width: $screen-xs-max) {
            padding: 2em 0;
            p,
            a,
            .btn {
                text-align: center;
            }
        }
    }