$screen-xs-max: 768px;
$blue_header: rgb(28, 26, 168);
$charcol_bg: rgb(66, 66, 68);
h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 500;
    color: $blue_header;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto Slab', serif;
    color: $blue_header;
    font-size: 20px;
    font-weight: 700;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}

body {
    font: 400 15px/1.8 'Roboto', sans-serif;
    border-style: solid;
    border-width: 0.5em;
    border-color: $blue_header;
    
    padding-top: 120px;
    @media (max-width: $screen-xs-max) {
        padding-top: 60px;
    }
}

.container {

}

#myHome {
    width: 100vw;
    height: 100vh;
}

#title {
    margin-top: 30vh;
    div {
        padding: 5px;
    }
}

#title img {
    padding-top: 2em;
    margin: 0 auto;
    display: block;
    width: 300px;
}

#title i {
    font-size: 5px;
    position: relative;
    bottom: 4px;
    padding: 0 3px 0 6px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



.bg-1 {
    background: $charcol_bg;
    color: white;
}

.bg-1 h1 {
    color: #fff;
}

.bg-1 p {
    //    font-style: italic;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 15px;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.modal-header,
h4,
.close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header,
.modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: $blue_header;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 1;
}

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar li a,
.navbar .navbar-brand:hover {
    color: white !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: red !important;
}

footer a {
    color: #f5f5f5;
    position: absolute;
    bottom: 0;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

footer {
    background-color: #b5b5b5;
    color: #0b24f9;
    padding: 32px;
//    position: absolute;
//    bottom: 0;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.form-control {
    border-radius: 0;
}

textare a {
    resize: none;
}